# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main

# Vscode
.vscode/

#CMake
CMakeCache.txt
cmake_install.cmake
CMakeFiles
main_autogen
test/Makefile

Partie1/Notre_Interface/Makefile
Partie1/Notre_Interface/header/moc_bouton.cpp
Partie1/Notre_Interface/header/moc_bouton.cpp_parameters

Partie2/Notre_Interface/Makefile
Partie2/Notre_Interface/header/moc_bouton.cpp
Partie2/Notre_Interface/header/moc_bouton.cpp_parameters

Partie3/Notre_Interface/Makefile
Partie3/Notre_Interface/header/moc_bouton.cpp
Partie3/Notre_Interface/header/moc_bouton.cpp_parameters

#fichier de log
log.txt
arbre.txt
arbre_interface.txt