# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main

# Vscode
.vscode/

#CMake
CMakeCache.txt
cmake_install.cmake
CMakeFiles
main_autogen
test/Makefile
Notre_Interface/Makefile
Notre_Interface/header/moc_bouton.cpp
Notre_Interface/header/moc_bouton.cpp_parameters

